<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="bean2">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import bean2 urdf file -->
    <xacro:include filename="$(find bean3_description)/urdf/bean2.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="bean2.ros2_control.xacro" />

    <xacro:bean2_ros2_control name="GazeboSystem"
	    initial_positions_file="$(arg initial_positions_file)"/>

    <!-- ros gz plugin -->
    <gazebo>
	    <plugin filename="gz_ros2_control-system"
		    name="gz_ros2_control::GazeboSimROS2ControlPlugin">
	    <ros>
		    <namespace>bean</namespace>
	    </ros>
	    <parameters>$(find bean2_moveit)/config/ros2_controllers.yaml</parameters>
	    </plugin>
    </gazebo>

</robot>
