<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="bean2">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import bean2 urdf file -->
    <xacro:include filename="$(find bean3_description)/urdf/bean2.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="bean2.ros2_control.xacro" />

    <xacro:bean2_ros2_control name="GazeboSystem"
	    initial_positions_file="$(arg initial_positions_file)"/>

    <!-- ros gz plugin -->
    <gazebo>
	    <plugin filename="gz_ros2_control-system"
		    name="gz_ros2_control::GazeboSimROS2ControlPlugin">
	    <ros>
		    <namespace>bean</namespace>
	    </ros>
	    <parameters>$(find bean2_moveit)/config/ros2_controllers.yaml</parameters>
    <!-- detachable joint plugin -->
	    <plugin filename="gz-sim-detachable-joint-system"
      		    name="gz::sim::systems::DetachableJoint">
    		<parent_link>docking_frame</parent_link>
    		<child_model>capsule</child_model>
    		<child_link>docking_target</child_link>
    		<detach_topic>/bean/detach</detach_topic>
    		<attach_topic>/bean/attach</attach_topic>
    		<output_topic>/bean/state</output_topic>
  	  </plugin>
    </gazebo>
</robot>
